.login-title{
    
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #333;
    margin: 0 0 24px;
    min-height: 0;
}
a {
     text-align: right;
    color: #039;
    text-decoration: none;
    outline: 0;
    margin-top: 10px;
    display: block;
}  
#s{
    width: 370px;
    display: block;
    margin: 0 auto;
}
.btn-google {
    background-color: #fff;
    color: #444;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 16px;
    display: inline-block;
    cursor: pointer;
  }
  .btn-google:hover {
    background-color: #eee;
  }
  .google-icon {
    margin-right: 8px;
  }
  body{
    background-color: #898989;
  }
  .card{
    background-color:#fff;
  }