 
 
   <div>
<div style="height: 20px; width: 90%; margin: auto; margin-top: 20px;">
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="500">
        <img src="../../../../assets/bonacibo-malt-paste.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="500">
        <img src="../../../../assets/kopektemıizmama.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/Fiyatsiz.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>  
<div class="aa" style="margin-top: 420px;">
   
  <div class="card" style="width: 18rem; margin-left: 5px; margin-top: 15px;margin-right: 15px;" id="conta" >
    <img src="../../../../assets/pxfuel.jpg" class="card-img-top" alt="..."   style="max-width: 100%; max-height: 100%;">
    <div class="card-body">
      <h5 class="card-title">Hayvan Cinsi</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
     <a href="#">  <p>İstanbul/esenler</p></a>
    </div> 
  </div>
 
  <div class="card" style="width: 18rem; margin-left: 5px; margin-top: 15px;margin-right: 15px;" id="conta" >
    <img src="../../../../assets/pexels-trinity-kubassek-288621.jpg" class="card-img-top" alt="..."  style="max-width: 100%; max-height: 100%;">
    <div class="card-body">
      <h5 class="card-title">Hayvan Cinsi</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
     <a href="#">  <p>İstanbul/esenler</p></a>
    </div>
     
     
  </div>

  <div class="card" style="width: 18rem; margin-left: 5px; margin-top: 15px;margin-right: 15px;" id="conta" >
    <img src="../../../../assets/pexels-pixabay-50577.jpg" class="card-img-top" alt="..."   style="max-width: 100%; max-height: 100%;">
    <div class="card-body">
      <h5 class="card-title">Hayvan Cinsi</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
     <a href="#">  <p>İstanbul/esenler</p></a>
    </div>
     
     
  </div>
  <div class="card" style="width: 18rem; margin-left: 5px; margin-top: 15px;margin-right: 15px;" id="conta" >
    <img src="../../../../assets/kedi 2.jpg" class="card-img-top" alt="..."  style="max-width: 100%; max-height: 100%;">
    <div class="card-body">
      <h5 class="card-title">Hayvan Cinsi</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
     <a href="#">  <p>İstanbul/esenler</p></a>
    </div>
     
     
  </div>
  
  <div class="card" style="width: 18rem; margin-left: 5px; margin-top: 15px;margin-right: 15px;" id="conta" >
    <img src="../../../../assets/pexels-pixabay-407037.jpg" class="card-img-top" alt="..."  style="max-width: 100%; max-height: 100%;">
    <div class="card-body">
      <h5 class="card-title">Hayvan Cinsi</h5>
      <p class="card-text">Açıklama</p>
       
     <a href="#">  <p>İstanbul/esenler</p></a>
      
    </div>
     
     
  </div>


  <div class="card" style="width: 18rem; margin-left: 5px; margin-top: 15px;margin-right: 15px;" id="conta" >
    <img src="../../../../assets/pexels-tim-mossholder-1618424.jpg" class="card-img-top" alt="..."  style="max-width: 100%; max-height: 100%;">
    <div class="card-body">
      <h5 class="card-title">Hayvan Cinsi</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
     <a href="#">  <p>İstanbul/esenler</p></a>
    </div>
     
     
  </div>

  <div class="card" style="width: 18rem; margin-left: 5px; margin-top: 15px;margin-right: 15px;" id="conta" >
    <img src="../../../../assets/pexels-jimmy-chan-2078845.jpg" class="card-img-top" alt="..."   style="max-width: 100%; max-height: 100%;">
    <div class="card-body">
      <h5 class="card-title">Hayvan Cinsi</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
     <a href="#">  <p>İstanbul/esenler</p></a>
    </div>
     
     
  </div>
  <div class="card" style="width: 18rem; margin-left: 5px; margin-top: 15px;margin-right: 15px;" id="conta" >
    <img src="../../../../assets/pexels-frans-van-heerden-1463295.jpg" class="card-img-top" alt="..."  style="max-width: 100%; max-height: 100%;">
    <div class="card-body">
      <h5 class="card-title">Hayvan Cinsi</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
     <a href="#">  <p>İstanbul/esenler</p></a>
    </div>
     
     
  </div>

  <div class="card" style="width: 18rem; margin-left: 5px; margin-top: 15px;margin-right: 15px;" id="conta" >
    <img src="../../../../assets/pexels-sk-832775.jpg" class="card-img-top" alt="..."  style="max-width: 100%; max-height: 100%;">
    <div class="card-body">
      <h5 class="card-title">Hayvan Cinsi</h5>
      <p class="card-text">Açıklama</p>
       
     <a href="#">  <p>İstanbul/esenler</p></a>
      
    </div>
     
     
  </div>


</div>


  
  <!--bu conponent geliştirilmekte canlıya çekilmedi -->