.aa{ 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-content:  center;
    margin-left: 150px;
   border: 1 solid black;
  } 
  
  
 
  /* Nav */

  section {
      margin: 2rem 8.5rem;
      ;
  }

  .main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 5rem auto;
  }

  .main h1 {
      font-size: 2.5rem;
      font-weight: 600;
      color: #fff;
      /* animation: check 1s ease forwards;
      animation-delay: .1s; */
  }

  .main p {
      margin-top: 1rem;
      font-size: .98rem;
      color: #fff;
  }

  .social {
      display: flex;
      flex-wrap: wrap;
      gap: 1.4rem;
      margin-top: 1.7rem;
  }

  .social a {
      color: #00E8F8;
      font-size: 1rem;
      border: 1.6px solid #00E8F8;
      border-radius: 50%;
      padding: .35rem;
      text-align: center;
      width: 26px;
  }

  .social a:hover {
      color: #1F252E;
      background-color: #00E8F8;
      box-shadow: 0 0 20px #00E8F8;
      transition: all .3s ease-in-out;
  }

  .main h1 span:nth-child(1) {
      font-size: 1.5rem;
  }

  .main h1 span:nth-child(2) {
      color: #00E8F8;
  }

  .images {
      background-image: url(/img/graph5.png);
      background-repeat: no-repeat;
      background-position: 0 -75px;
      -webkit-box-shadow: 0 10px 10px -10px #000000;
      -moz-box-shadow: 0 10px 10px -10px #000000;
      box-shadow: 0px 16px 4px -10px #00E8F8;
      width: 528px;
      background-size: cover;
  }

  /* @keyframes check {
      0% {
          transform: translateY(-100px);
          opacity: 0;
      }

      100% {
          transform: translateY(0);
          opacity: 1;
      }
  } */

  @media only screen and (max-width:480px) {
      .menu {
          display: block;
          font-size: 1.5rem;
          font-weight: bold;
          color: #244D61;
      }

      header {
          padding: 0.7rem 1rem;
          align-items: center;
          max-width: 100%;
      }

      nav {
          position: absolute;
          display: grid;
          top: 75px;
          text-align: center;
          background-color: #1F252E;
          left: -100%;
          z-index: 1;
          width: 100%;
      }

      #click:checked~nav {
          left: 0%;
          transition: all 0.3s ease;
      }

      section {
          margin: 1rem 1.5rem;
      }

  }