<div class="mb-3" *ngIf="state.state">
    <label for="password" class="form-label">password</label>
    <input type="password" class="form-control" id="password" placeholder="password" #txtPassword >
    
    <label for="passwordConfirm" class="form-label">passwordConfirm</label>
    <input type="password" class="form-control" id="passwordConfirm" placeholder="passwordConfirm" #txtPasswordConfirm>
    
    <button type="button" class="btn btn-primary" (click)="updatePassword(txtPasswordConfirm.value, txtPassword.value)">güncelle</button>

  </div>
  <div class="alert alert-primary" role="alert" *ngIf="!state.state">
    Bu link kullanılamamaktadır
  </div>