<div class="mat-elevation-z8"> 
    <table mat-table [dataSource]="dataSource">
   
       
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
     
      
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> düzenle </th>
        <td mat-cell *matCellDef="let element" ><img src="../../../../../assets/edit.png" alt="" style="width: 20px; height: 20px;cursor: pointer;"> </td>
      </ng-container>


  
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Sil </th>
       <td  mat-cell *matCellDef="let element"
        [id]="element.id"
         appDelete (callback)="getRoles()" controller="Roles">  <!-- <img src="../../../../../assets/delete.png" alt="" width="20px" height="20px"
           (click)="delete(element.id,$event)"/> -->  </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator (page)="pageChanged()" 
                   [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  